<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>uk.me.jrn.payment_protocol.servlet.CheckoutServlet</servlet-class>
        <init-param>
            <param-name>org.lostics.payment_protocol.servlet.freemarkerTemplateDir</param-name>
            <param-value>/WEB-INF/freemarker</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>uk.me.jrn.payment_protocol.servlet.OrderServlet</servlet-class>
        <init-param>
            <param-name>org.lostics.payment_protocol.servlet.freemarkerTemplateDir</param-name>
            <param-value>/WEB-INF/freemarker</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>checkout</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>uk.me.jrn.payment_protocol.servlet.ContextListener</listener-class>
    </listener>
</web-app>
