<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>paymentRequest</servlet-name>
        <servlet-class>org.lostics.payment_protocol.servlet.PaymentRequestServlet</servlet-class>
        <!-- FreemarkerServlet settings: -->
        <init-param>
            <param-name>org.lostics.payment_protocol.servlet.freemarkerTemplateDir</param-name>
            <param-value>/WEB-INF/freemarker</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>paymentRequest</servlet-name>
        <url-pattern>/paymentRequest</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>paymentRequest</welcome-file>
    </welcome-file-list>
</web-app>
